<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526270151048-1uvmrg1sqoj9mptd9tgur2k67keuptvs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526270151048-1uvmrg1sqoj9mptd9tgur2k67keuptvs</string>
	<key>API_KEY</key>
	<string>AIzaSyCT-8G-PW1BPpCGpSplm65Zu-K46lVbtRs</string>
	<key>GCM_SENDER_ID</key>
	<string>526270151048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectNhk</string>
	<key>PROJECT_ID</key>
	<string>clean-scan-1cc4e</string>
	<key>STORAGE_BUCKET</key>
	<string>clean-scan-1cc4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526270151048:ios:e3e89ab0487ae2a6f8223d</string>
</dict>
</plist>